<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT curriculumVitae ANY>
<!ATTLIST curriculumVitae id ID #REQUIRED>
<!ELEMENT metadata ANY>
<!ATTLIST metadata id ID #REQUIRED>
]>
<root id="-1">
  <home id="1054" key="39db5b1d-6a7e-476a-adbc-9029ab96a6ac" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-21T11:14:49" updateDate="2017-01-25T13:05:53" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1047" creatorName="Jacob Polden" writerName="Jacob Polden" writerID="0" template="1075" nodeTypeAlias="home">
    <description><![CDATA[Thoughts, projects, experiences and opinions written by Jacob Polden - .NET Developer.]]></description>
    <title><![CDATA[A stream of consciousness]]></title>
    <googleAnalyticsCode><![CDATA[12345]]></googleAnalyticsCode>
    <blog id="1055" key="94e063c1-c63c-4828-987d-e72b70019858" parentID="1054" level="2" creatorID="0" sortOrder="0" createDate="2017-01-21T11:15:21" updateDate="2017-01-22T14:44:34" nodeName="A stream of consciousness" urlName="a-stream-of-consciousness" path="-1,1054,1055" isDoc="" nodeType="1049" creatorName="Jacob Polden" writerName="Jacob Polden" writerID="0" template="1068" nodeTypeAlias="blog">
      <description><![CDATA[Thoughts of mine that I have managed to write down. Coherence may vary.]]></description>
      <title><![CDATA[A stream of consciousness]]></title>
      <blogPost id="1057" key="b883fa43-a41e-4132-b945-e18191eafa7d" parentID="1055" level="3" creatorID="0" sortOrder="0" createDate="2017-01-21T11:17:05" updateDate="2017-01-22T22:22:06" nodeName="This code doesn't write itself: 2017 reading list pt. I" urlName="this-code-doesnt-write-itself-2017-reading-list-pt-i" path="-1,1054,1055,1057" isDoc="" nodeType="1051" creatorName="Jacob Polden" writerName="Jacob Polden" writerID="0" template="0" nodeTypeAlias="blogPost">
        <description><![CDATA[The Clean Coder, The Pragmatic Programmer and Code Complete. Books that I have picked up over the winter that will kickoff my technical literature for 2017.]]></description>
        <title><![CDATA[This code doesn't write itself: 2017 reading list pt. I]]></title>
        <entry><![CDATA[<p>2017 has arrived! We can finally draw line under 2016, which has been a crazy year for a variety of reasons. We can sit back, take a breath and get ready for what lies ahead in 2017.</p>
<p>It's been no secret that 2016 has been an exciting time for developers, even more so (IMHO) if you are working with .NET. This image has been floating around a lot, particularly if you follow <a href="http://www.hanselman.com/">Scott Hanselman</a> and any of his online outlets.</p>
<p><img style="width: 500px; height: 287.109375px;" src="/media/1002/c2dmhxrwiaavecr.png?width=500&amp;height=287.109375" alt=".NET stack" rel="1072" data-id="1072" /></p>
<p>However changing times presents it's own set of challenges. I know I have had a lot of internal debates about the best way to keep myself up-to-date with the upcoming latest and greatest in the development world. It's not easy keeping tabs of everything. You want to try and at least have an opinion of the "bleeding edge" so you can join in the debate, particularly if you are in a team of peers or regularly attend developer-centric meetups.</p>
<p>So what's best?</p>
<p>A personal observation I have made is that people can sometimes get too bogged down focusing on trying to be the guy who knows the latest acronyms, the new tool or whatever some keyboard hero on StackOverflow swore was the future. I don't think it's any secret that some developers try to 1up each other rather than have helpful, constructive conversation.</p>
<p>Noticing this I have decided to take myself out of this particular race, and take a step back. I made a conscious decision to reaffirm good design principles, patterns, efficient code and productive ways of working. It seems like the most logical route to go down, in light of the fact that most problems worth talking about are not about using .NET Core for production, or creating a Docker image to help automate your world. The vast majority of problems are in fact poorly architect-ed solutions, bad RESTful design, under performing code. We use new frameworks and tooling to help improve our applications and speed of delivery, but what's the point if the code you are writing is terrible in the first place?</p>
<p>After a bit of searching it became clear the best way to go about this journey of knowledge was pretty analogue, sometimes you just can't be a book. This is a <a href="http://stackoverflow.com/questions/1711/what-is-the-single-most-influential-book-every-programmer-should-read">great book list</a> that helped me decide which books to pick. The winners of this round were:</p>
<ul>
<li>The Clean Coder by Robert Cecil Martin</li>
<li>The Pragmatic Programmer by Andy Hunt and Dave Thomas</li>
<li>Code Complete by Steve McConnell</li>
</ul>
<p>All three have great write ups and have topics diverse enough to keep the read enjoyable. I will be continuing to pick up more books as the year progresses, focusing on the core skills mentioned above. I will of course do some write ups of how the books are ideally I want be able to be to point to something demonstrable and say "I did this because I learned something from the book". After all, best practice is easy to read and pontificate but often the real world throws challenges that test us.</p>
<p>Hopefully these books mean we can have more of this</p>
<p><img style="width: 400px; height: 196px;" src="/media/1003/oddly-satisfying-gif-kitchenaide-box.gif?width=400&amp;height=196" alt="satisfying gif" rel="1073" data-id="1073" /></p>
<p>rather than this</p>
<p><img style="width: 321px; height: 254px;" src="/media/1004/sad-washing-machine.gif?width=321&amp;height=254" alt="sad washing machine" rel="1074" data-id="1074" /></p>]]></entry>
        <thumbnail><![CDATA[1071]]></thumbnail>
        <date>2017-01-01T00:00:00</date>
      </blogPost>
      <blogPost id="1058" key="f96bdc63-b4df-4273-b1aa-6159007ec707" parentID="1055" level="3" creatorID="0" sortOrder="1" createDate="2017-01-21T11:17:16" updateDate="2017-01-25T12:22:13" nodeName="Blog post 2" urlName="blog-post-2" path="-1,1054,1055,1058" isDoc="" nodeType="1051" creatorName="Jacob Polden" writerName="Jacob Polden" writerID="0" template="0" nodeTypeAlias="blogPost">
        <description><![CDATA[sfgsdgsdgsd]]></description>
        <title><![CDATA[Blog post test]]></title>
        <entry><![CDATA[<p>aefsefgsfsg</p>]]></entry>
        <date>2017-01-21T00:00:00</date>
      </blogPost>
    </blog>
    <curriculumVitae id="1056" key="8cb5dbfb-236d-417e-83e1-722440b1741a" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2017-01-21T11:15:45" updateDate="2017-01-22T14:45:27" nodeName="Curriculum Vitae" urlName="curriculum-vitae" path="-1,1054,1056" isDoc="" nodeType="1053" creatorName="Jacob Polden" writerName="Jacob Polden" writerID="0" template="1052" nodeTypeAlias="curriculumVitae">
      <description><![CDATA[My current and update-to-date Curriculum Vitae.]]></description>
      <title><![CDATA[Curriculum Vitae]]></title>
    </curriculumVitae>
  </home>
</root>