<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogPost ANY>
<!ATTLIST blogPost id ID #REQUIRED>
<!ELEMENT curriculumVitae ANY>
<!ATTLIST curriculumVitae id ID #REQUIRED>
<!ELEMENT metadata ANY>
<!ATTLIST metadata id ID #REQUIRED>
]>
<root id="-1">
  <home id="1054" key="39db5b1d-6a7e-476a-adbc-9029ab96a6ac" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-01-21T11:14:49" updateDate="2017-01-25T13:46:51" nodeName="Home" urlName="home" path="-1,1054" isDoc="" nodeType="1047" creatorName="Jacob Polden" writerName="Jacob Polden" writerID="0" template="1075" nodeTypeAlias="home">
    <description><![CDATA[Thoughts, projects, experiences and opinions written by Jacob Polden - .NET Developer.]]></description>
    <title><![CDATA[A stream of consciousness]]></title>
    <googleAnalyticsCode><![CDATA[12345]]></googleAnalyticsCode>
    <curriculumVitae id="1056" key="8cb5dbfb-236d-417e-83e1-722440b1741a" parentID="1054" level="2" creatorID="0" sortOrder="1" createDate="2017-01-21T11:15:45" updateDate="2017-01-25T13:47:10" nodeName="Curriculum Vitae" urlName="curriculum-vitae" path="-1,1054,1056" isDoc="" nodeType="1053" creatorName="Jacob Polden" writerName="Jacob Polden" writerID="0" template="1052" nodeTypeAlias="curriculumVitae">
      <description><![CDATA[My current and update-to-date Curriculum Vitae.]]></description>
      <title><![CDATA[Curriculum Vitae]]></title>
    </curriculumVitae>
  </home>
</root>