@inherits UmbracoViewPage<BaseRenderModel>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/Images/jpc_logo_hires.png" />
            <h1 class="text-justify justify-center">Under construction...</h1>
        </div>
    </div>
</div>