@using ClientDependency.Core.Mvc
@inherits UmbracoViewPage<BaseRenderModel>


<div class="container">
    <div class="row">
        <div class="col-md-3 col-md-push-9 profile">

            <div class="profile-container">
                <img class="profile-image" alt="Image of Jacob Polden" src="~/Content/Images/CircleJacobSmall.png" />
                <h1 class="name">Jacob Polden</h1>
                <h3 class="tagline">.NET Developer</h3>
            </div>
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: jacob@polden.codes">jacob@polden.codes</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:+447948393823">+44 (0) 7948 393 823</a></li>
                    <li class="website"><i class="fa fa-globe"></i><a href="http://jacob.polden.codes" target="_blank">jacob.polden.codes</a></li>
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/jacobpolden/" target="_blank">linkedin.com/in/jacobpolden</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/Yackob94" target="_blank">github.com/yackob94</a></li>
                    <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/Yackob94" target="_blank">@@yackob94</a></li>
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">BSc (Honours) Computing and IT</h4>
                    <h5 class="meta">The Open University</h5>
                    <div class="time">2012 - Present</div>
                </div>
                <div class="item">
                    <h4 class="degree">Advanced Software Development Apprenticeship</h4>
                    <h5 class="meta">QA Training</h5>
                    <div class="time">2011 - 2012</div>
                </div>
                <div class="item">
                    <h4 class="degree">AS Levels</h4>
                    <h5 class="meta">Farnborough Sixth Form</h5>
                    <div class="time">2010 - 2011</div>
                </div>
            </div>
            <div class="certifications-container container-block">
                <h2 class="container-block-title">Certifications</h2>
                <div class="item">
                    <h4 class="degree">Umbraco Level 2</h4>
                    <h5 class="meta">Umbraco</h5>
                </div>
                <div class="item">
                    <h4 class="degree">Umbraco Level 1</h4>
                    <h5 class="meta">Umbraco</h5>
                </div>
                <div class="item">
                    <h4 class="degree">Foundation Certificate in Agile</h4>
                    <h5 class="meta">BCS</h5>
                </div>
                <div class="item">
                    <h4 class="degree">MTA in Software Development Fundamentals</h4>
                    <h5 class="meta">Microsoft</h5>
                </div>
            </div>
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Native)</span></li>
                </ul>
            </div>
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Squash</li>
                    <li>Reading</li>
                    <li>Learning</li>
                    <li>Meetups</li>
                    <li>Personal Projects</li>
                    <li>Cycling</li>
                    <li>Cooking</li>
                </ul>
            </div><!--//interests-->
        </div>
        <div class="col-md-9 col-md-pull-3 career">
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
                <div class="summary">
                    <p>
                        I am an experienced developer, initially self-taught, evolving my skills throughout my professional career.
                    </p>
                    <p>
                        In my career I have worked in a variety of environments and positions. I started my professional career with an Umbraco gold partner startup (Orcare Limited) as an Apprentice where I worked my way up to Development Lead. During my time at Orcare I wore many hats; deputising for the director, presenting in client pitches, managing new team members and leading on the Umbraco projects for our clients. Our clients included large charities, FTSE100 pharmaceuticals and financial institutions.
                    </p>
                    <p>
                        After my time at Orcare I moved onto the Royal Institute of British Architects (RIBA) as part of the digital transformation programme. The role allowed me to create and establish my own processes and development patterns which quickly led me to being the architect of software projects and the mouthpiece of the development, where finally my responsibilities were formalised as Lead Developer at the RIBA.
                    </p>
                    <p>
                        I am continually developing my skills, formally, by studying Computing & IT (BSc) with the Open University. Whilst also deepening my technical knowledge by reading, actively subscribing to <a href="https://app.pluralsight.com/profile/Yackob94">PluralSight</a>, working on personal projects and attending developer-centric meetups.
                    </p>
                </div>
            </section>

            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer</h3>
                            <div class="time">2016 - Present</div>
                        </div>
                        <div class="company">RIBA, London</div>
                    </div>
                    <div class="details">
                        <p>"Building great new services, facilitating a first class digital experience for our members"</p>
                        <p>
                            Following the success of the projects launched in 2016, I took steps to formalise the responsibilities I had been undertaking throughout my role as Technical Developer. As the team formed, I had taken it upon myself to lead the technical design of projects and solve a consistent problem with our applications. Although the separate standalone applications had been successful, they were still separate and standalone. I put forward the idea of building a RESTful service using Web API that would connect all the various data repositories together, building business services, plus use domain language when describing RIBA objects: Member, Practice, CPD, etc. This was pitched to the Transformation Steering Group and approved. The API proved to be a great success and gave rise to opportunities within applications that had not been possible previously.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Technical Developer</h3>
                            <div class="time">2015 - 2016</div>
                        </div>
                        <div class="company">RIBA, London</div>
                    </div>
                    <div class="details">
                        <p>"Building great new services, facilitating a first class digital experience for our members"</p>
                        <p>
                            After a long stint at Orcare I decided to move on to a larger more established organisation. I was brought in to start work on the Digital Transformation project. The RIBA at the time relied on entirely manual processes involving a lot of paper. A perk of being a newly created team meant that we had no existing process or standards to follow, this is something I took advantage of immediately. In a short space of time code was being reviewed, branching strategies established and solutions began to be standardised. The solutions themselves were commonly standalone ASP.NET MVC applications. As well as a new development environment, I also was rubbing shoulders with people who have varying technical skills. Due to the small team sizes, stakeholders often wore multiple Agile hats. This meant effective communication was essential. I had to make sure I was explaining, often complex, technical problems clearly.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Development Lead</h3>
                            <div class="time">2013 - 2015</div>
                        </div>
                        <div class="company">Orcare Limited, Camberley</div>
                    </div>
                    <div class="details">
                        <p>"We build websites that work hard to improve your online profile and help you to sell more."</p>
                        <p>
                            After 2 years of working at Orcare I was promoted to Development Lead. My role was expanded to include building principle features in Umbraco projects, be responsible for line managing 2 full time developers, 1 apprentice developer and overseeing 1-2 contractors. My goal was to ensure that projects met the high-quality standards we strove for, whilst having technical oversight of the overall deliverable. To support those responsibilities, I liaised directly with clients, complete project documentation and conducted workshops demonstrating thought leadership.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Developer</h3>
                            <div class="time">2011 - 2013</div>
                        </div>
                        <div class="company">Orcare Limited, Camberley</div>
                    </div>
                    <div class="details">
                        <p>"We build websites that work hard to improve your online profile and help you to sell more."</p>
                        <p>
                            I initially joined Orcare as an Apprentice but within 10 months out of the 12-month course, I had completed and passed the apprenticeship where I was promoted to full Software Developer status. As Orcare was an Umbraco Gold Partner, I worked exclusively on Umbraco projects. The range of Umbraco projects varied from upgrades, complete rebuilds or entirely new creative solutions. I worked on Umbraco 4 - 6 during this time, transitioning from ASP.NET Web Forms to MVC.
                        </p>
                    </div>
                </div>
            </section>

            <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>The following are standout projects I have delivered over my career:</p>
                </div>
                <div class="item">
                    <span class="project-title">Cube</span> -
                    <span class="project-tagline">
                        RESTful Web API service built by following TDD methodologies. Providing secure access using implementing OAuth 2 to the RIBA's membership database.
                        Including exposing complex business processes like fee calculation, join submissions and member authentication.
                        The web service is used by both the RIBA and third parties, ensuring consistent, accurate data is always served to members.
                    </span>
                </div>
                <div class="item">
                    <span class="project-title">RIBA Membership Renewals</span> -
                    <span class="project-tagline">A responsive ASP.NET MVC application implementing a super streamlined process to renew membership. Reducing a previously long and paper driven exercise to a couple of clicks using Realex payments processing.</span>
                </div>
                <div class="item">
                    <span class="project-title">RIBA Awards</span> -
                    <span class="project-tagline">
                        Annual awards are held to determine the Stirling Prize winner.
                        Using ASP.NET MVC the awards entry system was designed with simplicity and functionality in mind. Utilising Bootstrap components the awards system allows users to easily submit data and upload resources via a bespoke uploading tool.
                    </span>
                </div>
                <div class="item">
                    <span class="project-title">Pulse Fitness</span> -
                    <span class="project-tagline">
                        Working with Pulse to move their legacy MySql based gym management system to a cloud based SQL Server database.
                        Developing a responsive Umbraco (7) application enabling members to view and track their exercise activity,
                        and RESTful API to enable a new iOS / Android applications to connect and share data.
                    </span>
                </div>
                <div class="item">
                    <span class="project-title">Promotions System for International Brewery (NDA)</span> -
                    <span class="project-tagline">One of the first projects to use Umbraco as a Service (UaaS 7) ever! We worked alongside other Umbraco Gold Partners to deliver a solution that matched users to coupons and discounts based on their implicit and explicit behaviours.</span>
                </div>
                <div class="item">
                    <span class="project-title">Learning Management System for FTSE100 Pharma (NDA)</span> -
                    <span class="project-tagline">An Umbraco (7) learning management system for the global marketing team, approx. 3000 users. The application included authoring tools for interactive content, including videos, quizzes and pdfs. We integrated the application with the company's exisiting SAML Single Sign On infrastructure.</span>
                </div>
                <div class="item">
                    <span class="project-title">Aston Barclay</span> -
                    <span class="project-tagline">Car auction site in need of an upgrade from Umbraco 6 to 7 which included a rewrite of business services as the source code was not available to development team. Services included the ability to buy/bid/proxy bid on cars, live feeds of auction data, PDF generation, favourites centre and other personalisation options.</span>
                </div>
                <div class="item">
                    <span class="project-title">Sports Leaders UK</span> -
                    <span class="project-tagline">Redesign and revamp of their aging website. Upgrade from Umbraco 4, to Umbraco 6 and finally to Umbraco 7. The Foundation framework was used to enable a responsive design plus a full rewrite of ASP.NET code from Web Forms to MVC.</span>
                </div>
            </section>

            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">C# ASP.NET MVC</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                <span class="sr-only">98% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">C# ASP.NET Web API</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                <span class="sr-only">98% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">Umbraco</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;">
                                <span class="sr-only">98% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">Javascript &amp; JQuery</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <h3 class="level-title">HTML &amp; CSS (SASS)</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                                <span class="sr-only">80% Complete</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">SQL Server</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                                <span class="sr-only">70% Complete</span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Azure &amp; AWS</h3>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                                <span class="sr-only">65% Complete</span>
                            </div>
                        </div>
                    </div>

                </div>
            </section><!--//skills-section-->


        </div>

    </div>
</div>
