html {
    //Bootstrap overrides this to 16px anyway, for some reason Chrome won't respect body value
    font-size: 16px !important;
}

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}

.vertical-align {
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }
}

