body {

    header {
        border-bottom: 2px solid black;

        img#logo {
            max-height: 100%;
            max-width: 100%
        }

        nav {
            font-size: 1.2rem;
        }
    }
}
