@import 'base';
@import 'nav';


time {
    color: rgba(0,0,0,.5);
}

article a {
    color: #000;
}

.row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

@media (min-width: 768px) {
    .col-sm-middle {
        vertical-align: middle;
    }

    .col-sm-height {
        display: table-cell;
        float: none !important;
        height: 100%;
    }
}

.no-blogs {
    display: table;

    p {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
}