body {
  overflow-x: hidden;
  /*font-size: 16px !important;*/
  /*line-height: 1.8 !important;*/
  -webkit-font-smoothing: antialiased; }

time {
  color: rgba(0, 0, 0, 0.5); }

article a {
  color: #000; }

.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%; }

@media (min-width: 768px) {
  .col-sm-middle {
    vertical-align: middle; }
  .col-sm-height {
    display: table-cell;
    float: none !important;
    height: 100%; } }

body {
  background: #f5f5f5;
  color: #545E6C; }
  @media (min-width: 768px) {
    body {
      padding: 30px; } }
  body .container {
    background-color: #2d7788;
    -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); }
  body .section-title .fa {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background: #2d7788;
    text-align: center;
    padding-top: 8px;
    font-size: 16px;
    position: relative;
    top: -2px;
    vertical-align: middle; }
  body .section {
    margin-bottom: 60px; }
  body .career {
    padding: 60px;
    background-color: #FFF; }
  body .profile {
    color: #FFF;
    padding: 0; }
    body .profile a {
      color: #FFF; }
    body .profile .contact-list .fa {
      margin-right: 5px;
      font-size: 18px;
      vertical-align: middle; }
    body .profile .contact-list li {
      margin-bottom: 15px; }
    body .profile .container-block-title {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 15px; }
    body .profile .education-container .meta, body .profile .certifications-container .meta {
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 0px;
      margin-top: 0; }
    body .profile .education-container .time, body .profile .certifications-container .time {
      color: rgba(255, 255, 255, 0.6);
      margin-bottom: 0px; }
    body .profile .education-container .item, body .profile .certifications-container .item {
      margin-bottom: 15px; }
    body .profile .education-container .degree, body .profile .certifications-container .degree {
      font-size: 16px;
      margin-top: 0;
      margin-bottom: 5px;
      font-weight: 700; }
    body .profile .interests-list {
      margin-bottom: 0; }
      body .profile .interests-list li {
        margin-bottom: 10px; }
    body .profile .languages-container .lang-desc {
      color: rgba(255, 255, 255, 0.6); }
    body .profile .profile-container {
      padding: 30px;
      background: rgba(0, 0, 0, 0.2);
      text-align: center; }
      body .profile .profile-container .tagline {
        color: rgba(255, 255, 255, 0.6);
        margin-top: 0;
        margin-bottom: 0; }
    body .profile .container-block {
      padding: 30px; }
  body .section-title {
    color: #2d7788;
    position: relative;
    margin-top: 0;
    margin-bottom: 20px; }
  body .experiences-section .item {
    margin-bottom: 30px; }
  body .experiences-section .job-title {
    color: #3F4650;
    margin-top: 0;
    margin-bottom: 0; }
  body .experiences-section .time {
    float: right;
    color: #97AAC3; }
  body .experiences-section .company {
    margin-bottom: 10px;
    color: #97AAC3; }
  body .projects-section .intro {
    margin-bottom: 30px; }
  body .projects-section .item {
    margin-bottom: 15px; }
  body .projects-section .project-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 5px;
    color: #2d7788; }
  body .skillset .item {
    margin-bottom: 15px;
    overflow: hidden; }
  body .skillset .level-title {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 600; }
  body .skillset .progress {
    height: 12px;
    background: #f5f5f5;
    margin: 0; }
    body .skillset .progress .progress-bar {
      background-color: #2d7788; }
  @media (min-width: 992px) {
    body .skillset .level-title {
      display: inline-block;
      float: left;
      width: 30%;
      margin-bottom: 0; }
    body .skillset .progress {
      display: inline-block;
      width: 70%;
      float: left;
      position: relative;
      top: 1px; } }

